absl-py==0.3.0
asn1crypto==0.24.0
astor==0.7.1
backports.weakref==1.0.post1
bleach==3.1.4
boto==2.49.0
boto3==1.7.70
botocore==1.10.70
bz2file==0.98
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
conda==4.5.11
cryptography==2.2.2
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
docutils==0.14
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
gensim==3.5.0
grpcio==1.14.1
h5py==2.8.0
html5lib==0.9999999
idna==2.6
inflect==1.0.0
ipaddress==1.0.22
jmespath==0.9.3
linecache2==1.0.0
Markdown==2.6.11
mkl-fft==1.0.4
mkl-random==1.0.1
mock==2.0.0
mpmath==1.0.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nltk==3.4
numpy==1.15.0
olefile==0.45.1
pathlib==1.0.1
pbr==4.2.0
Pillow==5.2.0
pipeproxy==0.7
plac==0.9.6
preshed==2.0.1
protobuf==3.6.0
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==18.0.0
PySocks==1.6.8
python-dateutil==2.7.3
requests==2.18.4
ruamel-yaml==0.15.37
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smart-open==1.6.0
statistics==1.0.3.5
sympy==1.2
tensorboard==1.10.0
tensorflow==1.10.0
tensorflow-gpu==1.10.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
Theano==1.0.3
thinc==6.12.0
toolz==0.9.0
torch==0.4.1
torchvision==0.2.1
tqdm==4.28.1
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.22
virtualenv==15.1.0
Werkzeug==0.14.1
wrapt==1.10.11
